@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto-Regular.ttf");
    font-weight: 400
}
body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    padding: 0;
}
.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.select-style {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.select-box {
    color: transparent;
    position: relative;
    width: 160px;
    margin: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 250ms;
}
.select-box::after {
    font-size: 12px;
    color: #444;
    position: absolute;
    top: 12px;
    right: 6px;
    content: '\25bc';
    background: transparent;
    transition: all 250ms;
    pointer-events: none;
}
.select-box.disabled {
    background: hsla(0, 0%, 0%, 0.1);
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    transition: all 250ms;
}
.select-box.disabled::after {
    color: #999;
    transition: all 250ms;
}
.select-box.enabled:hover,
.submit-button:hover {
    box-shadow: 0 2px 8px lightblue;
    transform: translateY(1px);
    transition: all 250ms;
}
.select-box select {
    font-size: 1em;
    position: relative;
    padding: 5px 12px;
    height: 36px;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    transition: color 250ms;
    padding-right: 22px;
}
.select-box.disabled select {
    color: transparent;
    transition: color 50ms;
}
.submit-button {
    font-size: 1em;
    width: 100px;
    height: 36px;
    margin: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    transition: all 250ms;
}
.submit-button:active {
    transform: translateY(0);
    box-shadow: 0 1px 4px #aaa;
}
.container.not-visible {
    opacity: 0;
    transition: all 250ms;
}
.container.is-visible {
    opacity: 1;
    transition: all 250ms;
}
.prefs-table {
    min-width: max-content;
    max-width: 90vw;
    border-collapse: collapse;
    position: relative;
}
.prefs-table::after {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';

}
.prefs-table tr {
    margin: 12px;
    width: 100%;
}
.prefs-table th,
.prefs-table td {
    text-align: left;
    padding: 4px 24px 4px 12px;
}
#prefs-body tr:nth-of-type(2n-1) {
    background-color: #eee;
}
.select-box.mobile:hover,
.select-box.mobile:active,
.select-box.mobile:focus,
.submit-button.mobile:hover,
.submit-button.mobile:active,
.submit-button.mobile:focus {
    transform: translateY(0);
    box-shadow: none;
    border: 1px solid lightblue;
}